.example-card {
  max-width: 400px; // Maximalbreite der Karte
  height: 600px; // Feste Höhe der Karte
  overflow: hidden; // Verstecke alles, was über die Karte hinausgeht
  display: flex; // Flexbox für bessere Kontrolle über das Layout
  flex-direction: column; // Vertikale Ausrichtung der Elemente
  justify-content: space-between; // Abstand zwischen Inhalt und Aktionen
}

mat-card-content {
  flex-grow: 1; // Lass den Inhalt wachsen und den verfügbaren Platz einnehmen
  overflow-y: auto; // Aktiviert das vertikale Scrollen, wenn der Inhalt zu lang ist
  max-height: 150px; // Maximalhöhe des Inhaltsbereichs
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
