.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; // Abstand zwischen den Karten
  justify-content: center; // Zentriert die Karten
}

.navigation-buttons {
  display: flex; // Verteile den Platz zwischen den Schaltflächen
  justify-content: center;
  margin-top: 20px;
  width: 100%; // Volle Breite nutzen

  button {
    margin: 0 10px; // Abstand zwischen den Schaltflächen
    font-size: 16px; // Schriftgröße
    padding: 10px 20px; // Padding für mehr Fläche
    border-radius: 5px; // Abgerundete Ecken
    transition:
      background-color 0.3s,
      color 0.3s; // Sanfter Übergang

    &.mat-button {
      background-color: #3f51b5; // Primäre Farbe
      color: white; // Textfarbe
    }

    &:hover {
      background-color: #303f9f; // Dunklere Farbe beim Hover
      color: white; // Textfarbe bleibt weiß
    }

    &:focus {
      outline: none; // Entferne den Standard-Fokusrahmen
      box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); // Fokus-Effekt
    }
  }
}
