<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- src/app/app.component.html -->
<h1>{{ title }}</h1>
<div class="card-container">
  <app-card
    [title]="currentCard.title"
    [subtitle]="currentCard.subtitle"
    [image]="currentCard.image"
    [content]="currentCard.content"
  >
  </app-card>
</div>

<div class="navigation-buttons">
  <button mat-raised-button color="primary" (click)="previousCard()">
    Vorheriger
  </button>
  <button mat-raised-button color="primary" (click)="showRandom()">
    Zufällig
  </button>
  <button mat-raised-button color="primary" (click)="nextCard()">
    Nächster
  </button>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
